<tr class="fields">
	<td class="field">
	    	<%= f.file_field :imagen, :class => 'file_field' %>	   
	</td>
  	<td>
    	<%= link_to_remove 'Eliminar', f, :class => 'eliminar btn btn-danger' %>
  	</td>
</tr>
