<div class="label label-info" align="center">
	<h1>Listado de Reparaciones</h1>
</div>
<br />

<table id="reparaciones" class="table table-bordered" data-source="<%= reparaciones_url(format: "json") %>" >
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripción</th>
      <th>Pasos</th>
      <th>Opciones</th>      
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br />
<%= link_to 'Nueva Reparación', new_reparacion_path, :class => 'btn btn-primary' %>
<%= link_to 'PDF Reparacion', reparaciones_path(:format => 'pdf') %>
<%= link_to 'Excel Reparacion', reparaciones_path(:format => 'xls') %>
