// Place all the styles related to the ordenes_servicios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea.oxlarge {
  height:150px;
}

textarea.table {
  height:80px;
  width: 500px;
}

table thead tr td.titulo {
  text-align: center;
}
