<div class="label label-info" align="center">
	<h1>Listado de Series</h1>
</div>
<br />


<table id="series" class="table table-bordered" data-source="<%= series_index_url(format: "json") %>">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Opciones</th>     
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br />
<%= link_to 'Nueva Serie', new_series_path, :class => 'btn btn-primary' %>
