<table class="datatable_modal table table-condensed table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Clave</th>
      <th>Descripcion</th>
      <th class="span1">Opción</th>
    </tr>
  </thead>

  <tbody>
  <% activos.each do |activo| %>
    <tr>
      <td class="id_activo"><%= activo.id%></td>
      <td><%= activo.clave %></td>
      <td class="descripcion_activo"><%= activo.descripcion %></td>
      <td class="span1">
        <div class="btn-group">
          <%= link_to 'Seleccionar', '#', :class => 'btn btn-mini btn-inverse selecciona_activo' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

