<table id="activos_modal" class="table table-condensed table-bordered" data-source="<%= activos_url(format: "json") %>"  >
  <thead>
    <tr>
      <th>#</th>
      <th>Clave</th>
      <th>Descripcion</th>
      <th>Área</th>
      <th class="span1">Opción</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

