<div class="label label-info" align="center">
	<h1>Listado de Activos</h1>
</div>
<br />

<table id="activos" class="table table-bordered" data-source="<%= activos_url(format: "json") %>" >
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripción</th>
      <th>Costo revisión</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br />
<%= link_to 'Nuevo Activo', new_activo_path, :class => 'btn btn-primary' %>
