<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by .....
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de",   '#' %></li>
      <li><%= link_to "Contacto", '#' %></li>
      <li><a href="#">Ruta</a></li>
    </ul>
  </nav>
</footer>
