<footer id="footer" class="footer row span12 prepend">
  <small>    
    <span  style="color:red">GUIA® </span>
    <span  style="color:green">Gestión de Inventarios Administrados</span>
  </small>
</footer>
