<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Sistema de Ordenes de Servicio", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Inicio", home_index_path %></li>
          <li><%= link_to "Categorías", categorias_path %></li>
          <li><%= link_to "Iniciar sesión", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

