<tr class="fields">
  <td class="field">
    <%= f.select :medida_id, Medida.all.map{|medida| [medida.descripcion, medida.id] }, {} %>
  </td>
  <td class="field">
    <%= f.number_field :unidades_por_empaque, :class => "input-small" %>
  </td>
  <td>
    <%= link_to_remove 'Eliminar', f, :class => 'eliminar btn btn-danger' %>
  </td>
</tr>
